/********************************************************************************
*                                                                               *
* black-widow.css -- Main black-widow stylesheet                                *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
********************************************************************************/

/**
 *   [ INDEX ]
 *
 *  0) GLOBAL
 *       |
*        |-- 0.1) Cards
*        |-- 0.2) Buttons
*        |-- 0.3) Tables
*        |-- 0.4) Pagination
*        |-- 0.5) Forms
*        |-- 0.6) Spinner
 *
 *  1) base.html
 *
*/



/*********** 0) GLOBAL ************/


/*** 0.1) Cards ***/

.card [class*="card-header-"] .card-title+.card-category .material-icons {
  font-size: 16px;
}
.card-body-primary .card-category, .card-body-primary .card-title {
    color: #fff !important;
}
.card-hover {
    box-shadow: unset !important;
}
.black-edition .card-header-danger.card-header-sec {
    background: linear-gradient(60deg, rgb(155, 53, 50), rgb(164, 60, 56)) !important
}
.black-edition .card .card-header-primary .card-icon,
.black-edition .card .card-header-primary .card-text,
.black-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.black-edition .card.bg-primary,
.black-edition .card.card-rotate.bg-primary .front,
.black-edition .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #d22824, #da3a36);
}

/******************/


/*** 0.2) Buttons ***/

button .material-icons {
    padding-left: 6px;
}
button.btn-action {
    padding: 10px 16px;
    margin: 10px 0 0;
}
button.btn-stop .material-icons {
    padding: 0;
}
button.disabled {
    pointer-events: none;
}
input.upload {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border: 0;
    margin: 0;
    padding: 0;
}
.link {
    cursor: pointer;
}
.black-edition .btn.btn-danger {
    background-color: #8e0000;
    border-color: #2a0400;
}
.black-edition .btn.btn-danger:hover {
    background-color: #a60002;
    border-color: #890010;
}
.black-edition .btn.btn-danger:focus,
.black-edition .btn.btn-danger.focus,
.black-edition .btn.btn-danger:hover {
    background-color: #a60002;
    border-color: #890010;
}
.black-edition .btn.btn-danger:active,
.black-edition .btn.btn-danger.active,
.open>.black-edition .btn.btn-danger.dropdown-toggle,
.show>.black-edition .btn.btn-danger.dropdown-toggle {
    background-color: #a60002;
    border-color: #890010;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

/******************/


/*** 0.3) Tables ***/

.table-select > tbody > tr {
    cursor: pointer;
}
table > thead > tr > th {
    font-weight: normal !important;
}
.black-edition .card .card-header-primary .card-icon,
.black-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.black-edition .card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(179, 12, 12, 0.55);
}

/*******************/


/*** 0.4) Pagination ***/

.page-item.active .page-link {
    background: #d22824 !important;
    border-color: #da3a36 !important;;
}
.page-link:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: rgba(239, 233, 233, 0.36);
    border-color: rgba(230, 222, 222, 0.21);
}
nav.pagination.dark-theme {
    display: grid;
}
nav.pagination.dark-theme li {
    margin: 1px;
}
nav.pagination.dark-theme li a,
nav.pagination.dark-theme li span {
    box-shadow: unset;
    border: unset !important;
    border-radius: 0;
    padding: 3px 10px;
}
nav.pagination.dark-theme input {
    background: unset;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    border: unset;
    margin: 0;
    padding: 2px;
}
nav.pagination.dark-theme .current {
    background: #cc3330;
}
nav.pagination.dark-theme li:not(.disabled):not(.active):not(:hover) a,
nav.pagination.dark-theme li:not(.disabled):not(.active):not(:hover) span {
    background: unset;
}
nav.pagination.dark-theme li.disabled:not(.active) a,
nav.pagination.dark-theme li.disabled:not(.active) span {
    background: unset;
    color: #6c757d;
}
nav.pagination.dark-theme li.disabled.active a,
nav.pagination.dark-theme li.disabled.active span {
    background: #cc3330;
    color: white;
}
nav.pagination.dark-theme li:not(.active):not(.disabled):hover a,
nav.pagination.dark-theme li:not(.active):not(.disabled):hover span {
    background: rgba(255, 255, 255, 0.30);
}
nav.pagination.dark-theme li:last-child li a,
nav.pagination.dark-theme li:last-child li span {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
nav.pagination.dark-theme li:first-child li a,
nav.pagination.dark-theme li:first-child li span {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

/*******************/


/*** 0.5) Forms ***/

.black-edition .form-control, .is-focused .dark-edition .form-control {
    background-image: linear-gradient(to top,
    #b00009 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px,
    rgba(180, 180, 180, 0) 1px);
}

/******************/


/*** 0.6) Spinner ***/

.spinner-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.51);
    display: grid;
}

.spinner {
    margin: auto auto 0;
}

.spinner-text {
    margin: 0 auto auto;
    color: #ff0600;
    font-weight: 500;
}

.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
}

.atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: #ff0600;
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: 4px;
    border-top-width: 4px;
    border-left-color: #ff0600;
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

/********************/


/**********************************/



/********** 1) base.html **********/

#page-title {
  text-transform: capitalize;
  pointer-events: none;
}

.black-edition {
    background-color: #131313;
}

.black-edition .card {
    background-color: #262626;
}

.black-edition .sidebar .sidebar-background::after, .black-edition .sidebar {
    background: #1a1a1a;
}

/**********************************/
