/********************************************************************************
*                                                                               *
* black-widow.css -- Main black-widow stylesheet                                *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
********************************************************************************/

/**
 *   [ INDEX ]
 *
 *  0) GLOBAL
 *       |
 *       |-- 0.0) Generic
 *       |-- 0.1) Cards
 *       |-- 0.2) Buttons
 *       |-- 0.3) Tables
 *       |-- 0.4) Pagination
 *       |-- 0.5) Forms
 *       |-- 0.6) Spinner
 *       |-- 0.7) Notifications
 *       |-- 0.8) Accordion
 *
 *  1) layout/base.html
 *
 *  2) sniffing/capture.html
 *
*/



/*********** 0) GLOBAL ************/


/*** 0.0) Generic ***/

.separator {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.separator:not(:last-child) {
    margin-bottom: 15px;
}

.separator.row {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.breadcrumb {
    background-color: unset;
}

#main-body {
    min-height: 60vh;
}

.black-edition code {
    color: #ff0000;
}



/*** 0.1) Cards ***/

.card [class*="card-header-"] .card-title+.card-category .material-icons {
  font-size: 16px;
}
.card-body-primary .card-category, .card-body-primary .card-title {
    color: #fff !important;
}
.card-job .card-header .card-category {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin: 5px 0;
}
.card-job .card-header .card-category span {
    font-weight: bold;
    color: #fff;
}
.card-hover {
    box-shadow: unset !important;
}

.black-edition .card-header-danger.card-header-sec {
    background: linear-gradient(60deg, rgb(155, 53, 50), rgb(164, 60, 56)) !important
}
.black-edition .card .card-header-primary .card-icon,
.black-edition .card .card-header-primary .card-text,
.black-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.black-edition .card.bg-primary,
.black-edition .card.card-rotate.bg-primary .front,
.black-edition .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #d22824, #da3a36);
}
.black-edition .modal {
    background: rgba(11, 0, 0, 0.9);
}
.black-edition .modal .modal-content {
    background: #171717;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(32, 1, 2, 0.51);
}
.black-edition .modal .modal-header,
.black-edition .modal .modal-footer {
   border-color: #000;
}
.black-edition .modal .close {
   color: #fff;
}
.modal .card-header .h3 {
   padding-left: 8px;
   padding-right: 8px;
}
.modal .modal-body h2 {
   margin-bottom: 15px;
}
.modal .card {
    margin-bottom: 20px;
}
.modal .card-header h3:first-child {
    text-align: right;
}
.modal .card-header h3:last-child {
    text-align: left;
}
.modal .card-header .material-icons {
    margin-top: 22px;
}
.modal .card-header h3:not(.material-icons) {
    font-weight: bold;
}
.modal .card-footer .stats span {
    padding-top: 1px;
    margin-left: 5px;
}

.black-edition .modal .card .card-footer {
    border-top: 1px solid hsla(0, 0%, 0%, 0.23);
}

.black-edition .modal .card .card-header-danger {
    background: linear-gradient(60deg,#5b0d0b,#6f0b08) !important;
    color: #240606;
    box-shadow: 0 1px 20px 0 rgba(55, 7, 7, 0.56),0 7px 10px -5px rgba(74, 22, 18, 0.91) !important;
}

.black-edition .modal .separator {
    background: #262626;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .modal .card-header h3:not(.material-icons) {
        font-size: 1.3rem;
    }
    .modal .card-header .material-icons {
        margin-top: 16px;
        font-size: 2rem;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .modal .card-header .material-icons {
        display: none;
    }
    .modal .card-header h3 {
        font-size: 1rem;
        max-width: 100%;
        text-align: center !important;
        flex: content;
    }
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .modal .card-header .material-icons {
        display: none;
    }
    .modal .card-header h3 {
        font-size: 0.9rem;
        max-width: 100%;
        text-align: center !important;
        flex: content;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .modal .card-header .material-icons {
        display: none;
    }
    .modal .card-header h3 {
        font-size: 0.8rem;
        max-width: 100%;
        text-align: center !important;
        flex: content;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {
    .modal .card-header .material-icons {
        display: none;
    }
    .modal .card-header h3 {
        font-size: 0.7rem;
        max-width: 100%;
        text-align: center !important;
        flex: content;
    }
}

/******************/


/*** 0.2) Buttons ***/

button .material-icons {
    padding-left: 6px;
}
button.btn-action {
    padding: 10px 16px;
    margin: 10px 0 0;
}
button.btn-stop .material-icons {
    padding: 0;
}
button.disabled {
    pointer-events: none;
}
input.upload {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border: 0;
    margin: 0;
    padding: 0;
}
.link {
    cursor: pointer;
}

/* btn-danger */
.black-edition .btn.btn-danger {
    background-color: #8e0000;
    border-color: #2a0400;
}
.black-edition .btn.btn-danger:hover,
.black-edition .btn.btn-danger:focus,
.black-edition .btn.btn-danger.focus,
.black-edition .btn.btn-danger.hover {
    background-color: #a60002;
    border-color: #890010;
}
.black-edition .btn.btn-danger:active,
.black-edition .btn.btn-danger.active,
.open>.black-edition .btn.btn-danger.dropdown-toggle,
.show>.black-edition .btn.btn-danger.dropdown-toggle {
    background-color: #a60002;
    border-color: #890010;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

/*  btn-abort */
.black-edition .btn.btn-abort {
    background-color: #131313;
    border-color: #000;
}
.black-edition .btn.btn-abort:hover,
.black-edition .btn.btn-abort:focus,
.black-edition .btn.btn-abort.focus,
.black-edition .btn.btn-abort.hover {
    background-color: #1d1b1c;
    border-color: #191919;
}
.black-edition .btn.btn-abort:active,
.black-edition .btn.btn-abort.active,
.open>.black-edition .btn.btn-abort.dropdown-toggle,
.show>.black-edition .btn.btn-abort.dropdown-toggle {
    background-color: #1d1b1c;
    border-color: #191919;
    box-shadow: 0 2px 2px 0 rgba(244, 224, 232, 0.14), 0 3px 1px -2px rgba(244, 228, 239, 0.2), 0 1px 5px 0 rgba(244, 212, 227, 0.12);
}

/******************/


/*** 0.3) Tables ***/

.table-select > tbody > tr {
    cursor: pointer;
}
table > thead > tr > th {
    font-weight: normal !important;
}
.black-edition .card .card-header-primary .card-icon,
.black-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.black-edition .card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(179, 12, 12, 0.55);
}

/*******************/


/*** 0.4) Pagination ***/

.page-item.active .page-link {
    background: #d22824 !important;
    border-color: #da3a36 !important;;
}
.page-link:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: rgba(239, 233, 233, 0.36);
    border-color: rgba(230, 222, 222, 0.21);
}
nav.pagination.dark-theme {
    display: grid;
}
nav.pagination.dark-theme li {
    margin: 1px;
}
nav.pagination.dark-theme li a,
nav.pagination.dark-theme li span {
    box-shadow: unset;
    border: unset !important;
    border-radius: 0;
    padding: 3px 10px;
}
nav.pagination.dark-theme input {
    background: unset;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    border: unset;
    margin: 0;
    padding: 2px;
}
nav.pagination.dark-theme .current {
    background: #cc3330;
}
nav.pagination.dark-theme li:not(.disabled):not(.active):not(:hover) a,
nav.pagination.dark-theme li:not(.disabled):not(.active):not(:hover) span {
    background: unset;
}
nav.pagination.dark-theme li.disabled:not(.active) a,
nav.pagination.dark-theme li.disabled:not(.active) span {
    background: unset;
    color: #6c757d;
}
nav.pagination.dark-theme li.disabled.active a,
nav.pagination.dark-theme li.disabled.active span {
    background: #cc3330;
    color: white;
}
nav.pagination.dark-theme li:not(.active):not(.disabled):hover a,
nav.pagination.dark-theme li:not(.active):not(.disabled):hover span {
    background: rgba(255, 255, 255, 0.30);
}
nav.pagination.dark-theme li:last-child li a,
nav.pagination.dark-theme li:last-child li span {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
nav.pagination.dark-theme li:first-child li a,
nav.pagination.dark-theme li:first-child li span {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

/*******************/


/*** 0.5) Forms ***/

.black-edition .form-control, .is-focused .dark-edition .form-control {
    background-image: linear-gradient(to top,
    #b00009 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px,
    rgba(180, 180, 180, 0) 1px);
}

/******************/


/*** 0.6) Spinner ***/

.spinner-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
}

.card .spinner-container {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2;
    background: transparent;
}

.spinner {
    margin: auto auto 0;
}

.spinner-text {
    margin: 0 auto auto;
    color: #ff0600;
    font-weight: 500;
}

.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
}

.atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: #ff0600;
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: 4px;
    border-top-width: 4px;
    border-left-color: #ff0600;
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

/********************/


/*** 0.7) Notifications ***/

.black-edition .alert.alert-warning {
    background: linear-gradient(60deg, #1f1f1f,#1a1a1a);
    box-shadow: 0 4px 20px 0 rgba(105, 105, 105, 0.39), 0 7px 10px -5px rgba(122, 122, 122, 0.4);
}

/**************************/


/*** 0.8) Accordion ***/

ul.accordion {
    list-style: none;
    padding: 0;
}
ul.accordion .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
    list-style: none;
}
ul.accordion .inner li {
    color: rgb(159, 156, 156);
}
ul.accordion .inner li.children {
    margin-bottom: 1em;
    margin-top: 0.7em;
}
ul.accordion li .inner.show {
    padding-top: 10px;
}
ul.accordion li:not(.layer) .inner {
    transition: background 1s;
}
ul.accordion li:not(.layer) .inner.show {
    background: rgba(253, 253, 253, 0.05);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.accordion li:not(.alone), ul.accordion li:first-child {
    margin: 0.5em 0;
}
ul.accordion li.alone:not(:first-child) {
    margin: 0;
}
ul.accordion li > ul:not(.inner) {
    margin-top: 15px;
    margin-bottom: 15px;
}
ul.accordion li > ul.inner {
    margin-top: 0;
}
ul.accordion .val-in {
    color: #fff;
    word-break: break-word;
    display: inline-flex;
    max-height: 60vh;
    overflow: auto;
    font-weight: normal;
}
ul.accordion li a.toggle {
    width: 100%;
    display: block;
    padding: 0.75em;
    transition: background .3s;
    border-radius: 3px;
    font-weight: bold;
}
ul.accordion li a.toggle > .arrow {
    float: right;
}

ul.accordion li.layer a.toggle {
    color: #2b0404;
    background: linear-gradient(60deg,#5b0d0b,#6f0b08);
    padding: 0.75em 0.75em 8px;
    box-shadow: 0 1px 20px 0 rgba(55, 7, 7, 0.56),0 7px 10px -5px rgba(51, 11, 9, 0.91);
}
ul.accordion li.layer a.toggle:hover {
    background: linear-gradient(60deg, #760006, #810000);
}

ul.accordion ul.inner a.toggle {
    margin-bottom: 0;
    margin-top: 0;
    background: linear-gradient(60deg, #525252, #4e4d4d);
    color: #151515;
    box-shadow: 0 1px 20px 0 rgba(30, 26, 26, 0.56),0 7px 10px -5px rgba(53, 51, 51, 0.91);
}

ul.accordion ul.inner a.toggle > span {
    color: #000;
}

ul.accordion ul.inner a.toggle:hover {
    background: linear-gradient(60deg, #7a7a7a, #878585) !important;
}

/**********************/


/**********************************/



/********** 1) base.html **********/

#page-title {
  text-transform: capitalize;
}

.black-edition {
    background-color: #131313;
}

.black-edition .card {
    background-color: #262626;
}

.black-edition .sidebar .sidebar-background::after, .black-edition .sidebar {
    background: #1a1a1a;
}

/**********************************/



/******** 2) capture.html *********/

@media screen and (min-width: 576px) {
    #pkt-modal > .modal-dialog {
        max-width: 90vw;
    }
}

#pkt-modal > .modal-dialog > .modal-content {
    height: 100%;
}

#pkt-modal .hosts .host {
    min-height: 180px;
    display: grid;
}

#pkt-modal .hosts .host > .col-12 {
    padding: 0;
}

#pkt-modal .hosts .host .addresses {
    margin-top: 5px;
    margin-bottom: 20px;
}

#pkt-modal .hosts .host .addresses .card.addr {
    background: #958e8e;
    color: #000;
    margin: 0;
    padding: 10px;
}

#pkt-modal .hosts .host .addresses .card.addr .material-icons {
    width: 24px;
}

#pkt-modal .hosts .host .addresses .card.addr .label {
    display: flow-root;
    font-weight: bold;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.23);
}

#pkt-modal .hosts .host .addresses .card.addr .label span {
    padding-top: 3px;
    float: right;
    margin-right: 5px;
}

#pkt-modal .hosts .host .addresses .card.addr .params {
    padding-top: 5px;
}

#pkt-modal .hosts .host .addresses .card.addr .params .param {
    font-weight: bold;
}

#pkt-modal .hosts .host .addresses .card.addr .params a.param {
    color: #800b08;
}

#pkt-modal .info {
    color: #958e8e;
}

#pkt-modal .info ul {
    margin-bottom: 0;
    list-style-type: disclosure-closed;
}

#pkt-modal .info ul li span {
    color: #fff;
}

@media screen and (max-width: 991px) {
    #pkt-modal .hosts .host .addresses > div:first-child {
        margin-bottom: 10px;
    }
}

#pkt-modal .host-icon-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    opacity: 0.1;
}

#pkt-modal .host-icon-container .host-icon {
    margin: auto;
    font-size: 20vw;
}

/**********************************/
