{% extends 'layout/base.html' %}
{% comment %}
<!--
*********************************************************************************
*                                                                               *
* sniffing.html -- HTML file.                                                   *
*                                                                               *
************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
*                                                                               *
* =========================================================                     *
* Material Dashboard Dark Edition - v2.1.0                                      *
* =========================================================                     *
*                                                                               *
* Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
* Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
*                                                                               *
* Coded by www.creative-tim.com                                                 *
*                                                                               *
* =========================================================                     *
*                                                                               *
* The above copyright notice and this permission notice shall be included in    *
* all copies or substantial portions of the Software.                           *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
*********************************************************************************
-->
{% endcomment %}
{% block content %}
    <form method="post" enctype="multipart/form-data" id="sniffing-settings-form">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <!-- Show Jobs / New Job -->
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#show-injections" data-toggle="tab">
                                            <i class="material-icons">playlist_play</i> Show Injections
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#new-injection" data-toggle="tab">
                                            <i class="material-icons">fiber_new</i> New Injection
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card-body-primary card-body">
                        <div class="tab-content">

                            <!-- Show Injections -->
                            <div class="tab-pane active" id="show-injections">
                                <table class="table table-hover table-select">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Url</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for id,job in jobs.items %}
                                        <tr class="link" href="/sql/injection?job_id={{ job.id }}">
                                            <td>{{ job.id }}</td>
                                            <td>{{ job.url }}</td>
                                            <td>{{ job.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- New Injection -->
                            <div class="tab-pane" id="new-injection">
                                <div class="row">
                                    <!-- URL -->
                                    <div class="col-lg-7 col-md-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">URL *</h4>
                                                <p class="card-category">URL to inject</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="url">
                                                        <div class="form-group">
                                                            <label for="filters-input" class="bmd-label-floating">Write URL here...</label>
                                                            <input value="{{url}}" type="text" class="form-control" id="filters-input" name="url">
                                                            <span class="bmd-help">(eg. https://black-widow.io)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Type -->
                                    <div class="col-lg-5 col-md-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Type</h4>
                                                <div class="card-category">Single Page / Website Crawling</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="filters">
                                                        <div class="form-check form-check-radio">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio" name="type" id="single-page" value="single-page" checked>
                                                                Single Page
                                                                <span class="circle"><span class="check"></span></span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio" name="type" id="crawl-website" value="crawl-website">
                                                                Website Crawling
                                                                <span class="circle"><span class="check"></span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit -->
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success">
                                            Inject !
                                            <i class="material-icons">play_arrow</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


    </form>
{% endblock %}
