{% extends 'layout/base.html' %}
{% comment %}
<!--
*********************************************************************************
*                                                                               *
* icons.html -- HTML file.                                                      *
*                                                                               *
************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
*                                                                               *
* =========================================================                     *
* Material Dashboard Dark Edition - v2.1.0                                      *
* =========================================================                     *
*                                                                               *
* Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
* Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
*                                                                               *
* Coded by www.creative-tim.com                                                 *
*                                                                               *
* =========================================================                     *
*                                                                               *
* The above copyright notice and this permission notice shall be included in    *
* all copies or substantial portions of the Software.                           *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
*********************************************************************************
-->
{% endcomment %}
{% block content %}
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Material Design Icons</h4>
        <p class="card-category">Handcrafted by our friends from
          <a target="_blank" href="https://design.google.com/icons/">Google</a>
        </p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <div class="iframe-container d-none d-lg-block">
              <iframe src="https://design.google.com/icons/">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
            <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
              <h5 class="card-description">The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                <a href="https://design.google.com/icons/" target="_blank">Material Icons</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
