{% extends 'layout/base.html' %}
{% comment %}
<!--
*********************************************************************************
*                                                                               *
* capture.html -- HTML file.                                                    *
*                                                                               *
************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
*                                                                               *
* =========================================================                     *
* Material Dashboard Dark Edition - v2.1.0                                      *
* =========================================================                     *
*                                                                               *
* Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
* Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
*                                                                               *
* Coded by www.creative-tim.com                                                 *
*                                                                               *
* =========================================================                     *
*                                                                               *
* The above copyright notice and this permission notice shall be included in    *
* all copies or substantial portions of the Software.                           *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
*********************************************************************************
-->
{% endcomment %}
{% block content %}
    {% csrf_token %}
    <!-- TODO: UI to view the packet captured. Features:
            - Show real-time traffic
            - Sorting/Search filters
            - Play/Pause/Reset/Stop
            - Download ".pcap" file
            -
    -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0"> Network Traffic</h4>
          <p class="card-category">
            Here is the monitored traffic
          </p>

          <button id="stop-capture" type="submit" class="btn btn-danger btn-stop" title="Stop">
              <i class="material-icons" style="padding: 0;">stop</i>
          </button>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover" id="sniffed-pkts-table">
              <thead class="">
              <tr>
                <th>
                  No.
                </th>
                <th>
                  Time
                </th>
                <th>
                  Source
                </th>
                <th>
                  Destination
                </th>
                <th>
                  Protocol
                </th>
                <th>
                  Length
                </th>
                <th>
                  Info
                </th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block script %}
<!--suppress JSUnfilteredForInLoop, JSUnresolvedVariable -->
    <script type="application/javascript">
    $(function() {
        const $sniffedPktsTable = $('#sniffed-pkts-table');
        const updatePkts = function(sleep=5000) {
            window.setTimeout(function() {
                request('POST', '/sniffing/capture', {
                    'job_id': urlParams.get('job_id'),
                    'page': 1,
                    'page_size': 20
                }, function(data, textStatus, jqXHR) {
                    console.log('Sniffing request success!');
                    console.log('data.result:');
                    console.log(data.result);
                    for (let key in data.result) {
                        let pkt = data.result[key];
                        $sniffedPktsTable.insertTableRow([
                            pkt.number,                     // No.
                            pkt.frame_info.time_relative    // Time
                            // TODO: insert attributes
                        ]);
                    }

                    updatePkts();
                }, function(jqXHR, textStatus, errorThrown) {
                    console.error('Sniffing request error!');
                });
            }, sleep);
        };

        const $stopCapture = $('#stop-capture');
        const stopPkts = function() {
            request('POST', '/sniffing/capture', {
                'job_id': urlParams.get('job_id'),
                'kill': 1
            }, function(data, textStatus, jqXHR) {
                console.log('Sniffing request stopped!');
                $stopCapture.addClass('disabled');
            }, function(jqXHR, textStatus, errorThrown) {
                console.error('Sniffing request error!');
            });
        };
        $stopCapture.click(stopPkts);
        updatePkts(2000);
    });
</script>
{% endblock %}
