{% extends 'layout/base.html' %}
{% comment %}
    <!--
    *********************************************************************************
    *                                                                               *
    * capture.html -- HTML file.                                                    *
    *                                                                               *
    ************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
    *                                                                               *
    * =========================================================                     *
    * Material Dashboard Dark Edition - v2.1.0                                      *
    * =========================================================                     *
    *                                                                               *
    * Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
    * Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
    *                                                                               *
    * Coded by www.creative-tim.com                                                 *
    *                                                                               *
    * =========================================================                     *
    *                                                                               *
    * The above copyright notice and this permission notice shall be included in    *
    * all copies or substantial portions of the Software.                           *
    *                                                                               *
    ********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
    *                                                                               *
    * This file is part of black-widow.                                             *
    *                                                                               *
    * black-widow is free software: you can redistribute it and/or modify           *
    * it under the terms of the GNU General Public License as published by          *
    * the Free Software Foundation, either version 3 of the License, or             *
    * (at your option) any later version.                                           *
    *                                                                               *
    * black-widow is distributed in the hope that it will be useful,                *
    * but WITHOUT ANY WARRANTY; without even the implied warranty of                *
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
    * GNU General Public License for more details.                                  *
    *                                                                               *
    * You should have received a copy of the GNU General Public License             *
    * along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
    *                                                                               *
    *********************************************************************************
    -->
{% endcomment %}
{% load static %}

{% block style %}
    <link href="{% static 'css/plugins/simplePagination.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- TODO: UI to view the packet captured. Features:
            - Sorting/Search filters
            - Reset pkts
            - Download ".pcap" file
    -->

    <!-- Show packet modal -->
    <div id="pkt-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row hosts">

                        <!-- Source Host -->
                        <div class="col-6 src host">
                            <div class="col-12">
                                <div class="card card-chart">
                                    <div class="card-header card-chart card-header-danger">
                                        <div class="row">
                                            <h3 class="material-icons col-3">laptop_mac</h3>
                                            <h3 class="header-title col-9">Source</h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Source</h4>
                                        <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">access_time</i> updated 4 minutes ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Destination Host -->
                        <div class="col-6 dst host">
                            <div class="col-12">
                                <div class="card card-chart">
                                    <div class="card-header card-chart card-header-danger">
                                        <div class="row">
                                            <h3 class="material-icons col-3">laptop_chromebook</h3>
                                            <h3 class="header-title col-9">Destination</h3>
                                        </div>
                                     </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Destination</h4>
                                        <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">access_time</i> updated 4 minutes ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> Network Traffic</h4>
                    <p class="card-category">
                        Here is the monitored traffic
                    </p>

                    <button id="play-capture-btn" type="button" class="btn btn-success btn-action disabled" title="Play"
                            style="display: none">
                        <i class="material-icons" style="padding: 0;">play_arrow</i>
                    </button>

                    <button id="pause-capture-btn" type="button" class="btn btn-warning btn-action" title="Pause">
                        <i class="material-icons" style="padding: 0;">pause</i>
                    </button>

                    <button id="stop-capture-btn" type="button" class="btn btn-danger btn-action" title="Stop">
                        <i class="material-icons" style="padding: 0;">stop</i>
                    </button>

                    <button style="display: none;" id="delete-capture-btn" type="button" class="btn btn-danger btn-action disabled" title="Delete forever">
                        <i class="material-icons" style="padding: 0;">delete_forever</i>
                    </button>

                </div>
                <div class="card-body" id="main_body">
                    <div class="table-responsive">
                        <table class="table table-hover table-select" id="sniffed-pkts-table">
                            <thead class="">
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Source
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Protocol
                                </th>
                                <th>
                                    Length (bytes)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <nav class="pagination justify-content-center" id="pagination">
            </nav>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript" src="{% static 'js/plugins/simplePagination.js' %}"></script>
    <!--suppress JSUnfilteredForInLoop, JSUnresolvedVariable -->
    <script type="application/javascript">
        $(function() {
            const jobId = urlParams.get('id');
            const $sniffedPktsTable = $('#sniffed-pkts-table');
            const $playCaptureBtn = $('#play-capture-btn');
            const $pauseCaptureBtn = $('#pause-capture-btn');
            const $stopCaptureBtn = $('#stop-capture-btn');
            const $deleteCaptureBtn = $('#delete-capture-btn');
            const $pagination = $('#pagination');
            const $pktModal = $('#pkt-modal');

            // Pagination
            $pagination.pagination({
                dataSource: [],
                pageNumber: 1,
                items: 0,
                pages: 1,
                currentPage: 1,
                itemsOnPage: 10,
                cssStyle: 'dark-theme'
            });

            const updatePkts = function(sleep, loop=false) {
                window.setTimeout(function() {
                    if (loop && $pauseCaptureBtn.hasClass('disabled')) {
                        return;
                    }
                    request('POST', '/sniffing/capture', {
                        'id': jobId,
                        'page':  $pagination.pagination('getCurrentPage'),
                        'page_size': 10
                    }, function(data) {
                        if (data.job.status === 'SIGSTOP') {
                            // Process paused
                            $pauseCaptureBtn.addClass('disabled').hide();
                            $playCaptureBtn.removeClass('disabled').show();
                        }
                        if (data.job.status === 'SIGKILL') {
                            // Process stopped
                            $pauseCaptureBtn.addClass('disabled').hide();
                            $playCaptureBtn.addClass('disabled').hide();
                            $stopCaptureBtn.addClass('disabled').hide();
                            $deleteCaptureBtn.removeClass('disabled').show();
                        }
                        $sniffedPktsTable.find('tbody').html('');
                        for (let key in data.result) {
                            let pkt = data.result[key];
                            const source_name = pkt.source ? pkt.source.label : undefined;
                            const source_title = pkt.source ? pkt.source.title : undefined;
                            const destination_name = pkt.destination ? pkt.destination.label : undefined;
                            const destination_title = pkt.destination ? pkt.destination.title : undefined;
                            $sniffedPktsTable.insertTableRow([
                                {name: pkt.number},                   // No.
                                {name: pkt.time},                     // Time
                                {
                                    name: source_name,                // Source
                                    title: source_title
                                },
                                {
                                    name: destination_name,           // Destination
                                    title: destination_title
                                },
                                {name: pkt.protocol},                 // Protocol
                                {name: pkt.length},                   // Length (bytes)
                            ], function() {
                                showPkt(pkt);
                            });
                        }

                        // Pagination
                        $pagination.pagination({
                            dataSource: Object.values(data.result),
                            pageNumber: data.page,
                            items: data.total,
                            pages: data.page_end,
                            currentPage: $pagination.pagination('getCurrentPage'),
                            itemsOnPage: 10,
                            cssStyle: 'dark-theme',
                            onPageClick: function() {
                                updatePkts(0, false);
                            }
                        });

                        stopSpinner();

                        if (loop) {
                            updatePkts(3000, loop);
                        }
                    }, function() {
                        console.error('Sniffing request error!');
                        window.location.replace("/sniffing");
                        {#$stopCaptureBtn.addClass('disabled');#}
                        {#$pauseCaptureBtn.addClass('disabled');#}
                        {#$playCaptureBtn.addClass('disabled');#}
                    });
                }, sleep);
            };

            /**
             * Send a signal to job
             * @param signal The numeric signal to send
             * @param callback The callback to call after signal
             */
            const signPkts = function(signal, callback) {
                request('POST', '/sniffing/capture', {
                    'id': jobId,
                    'signal': signal
                }, function(data, textStatus, jqXHR) {
                    callback(data, textStatus, jqXHR);
                }, function() {
                    console.error('Sniffing requests error!');
                    window.location.replace("/sniffing");
                });
            };

            /**
             * Send a SIGABRT to the current job
             */
            const deletePkts = function() {
                if (confirm("This job will be permanently deleted. Are you sure ?")) {
                    // 6 = SIGABRT
                    signPkts(6, function() {
                        console.log('Sniffing requests aborted!');
                        window.location.replace("/sniffing");
                    });
                }
            };
            $deleteCaptureBtn.click(deletePkts);

            /**
             * Send a SIGKILL to the current job
             */
            const stopPkts = function() {
                if (confirm("You'll cannot play again this job! Are you sure ?")) {
                    // 9 = SIGKILL
                    signPkts(9, function() {
                        console.log('Sniffing requests stopped!');
                        $stopCaptureBtn.addClass('disabled').hide();
                        $pauseCaptureBtn.addClass('disabled').hide();
                        $playCaptureBtn.addClass('disabled').hide();
                        $deleteCaptureBtn.removeClass('disabled').show();
                    });
                }
            };
            $stopCaptureBtn.click(stopPkts);

            /**
             * Send a SIGSTOP to the current job
             */
            const pausePkts = function() {
                // 19 = SIGSTOP
                signPkts(19, function() {
                    console.log('Sniffing requests paused!');
                    $pauseCaptureBtn.addClass('disabled').hide();
                    $playCaptureBtn.removeClass('disabled').show();
                });

            };
            $pauseCaptureBtn.click(pausePkts);

            /**
             * Send a SIGCONT to the current job
             */
            const playPkts = function() {
                // 18 = SIGCONT
                signPkts(18, function() {
                    console.log('Sniffing requests played!');
                    $playCaptureBtn.addClass('disabled').hide();
                    $pauseCaptureBtn.removeClass('disabled').show();
                    updatePkts(300, true);
                });
            };
            $playCaptureBtn.click(playPkts);

            /**
             * Show in a model the packet
             * @param pkt The packet Object
             */
            const showPkt = function(pkt) {
                console.log(pkt);

                $pktModal.find('.modal-title').html('Packet #' + pkt.number);

                const $pktModalSrcHost = $pktModal.find('.host.src');
                const $pktModalDstHost = $pktModal.find('.host.dst');
                const $srcTitle = $pktModalSrcHost.find('.header-title');
                const $dstTitle = $pktModalDstHost.find('.header-title');

                $srcTitle.html('SOURCE [ ' + pkt.source.label + ' ]');
                $srcTitle.attr('title', pkt.source.title);
                $dstTitle.html('DESTINATION [ ' + pkt.destination.label + ' ]');
                $dstTitle.attr('title', pkt.destination.title);

                $pktModal.modal();
            };

            updatePkts(300, true);

            $('#main_body').spinner('Setting up sniffer...');
        });
    </script>
{% endblock %}
