{% extends 'layout/base.html' %}
{% comment %}
    <!--
    *********************************************************************************
    *                                                                               *
    * sniffing.html -- HTML file.                                                   *
    *                                                                               *
    ************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
    *                                                                               *
    * =========================================================                     *
    * Material Dashboard Dark Edition - v2.1.0                                      *
    * =========================================================                     *
    *                                                                               *
    * Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
    * Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
    *                                                                               *
    * Coded by www.creative-tim.com                                                 *
    *                                                                               *
    * =========================================================                     *
    *                                                                               *
    * The above copyright notice and this permission notice shall be included in    *
    * all copies or substantial portions of the Software.                           *
    *                                                                               *
    ********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
    *                                                                               *
    * This file is part of black-widow.                                             *
    *                                                                               *
    * black-widow is free software: you can redistribute it and/or modify           *
    * it under the terms of the GNU General Public License as published by          *
    * the Free Software Foundation, either version 3 of the License, or             *
    * (at your option) any later version.                                           *
    *                                                                               *
    * black-widow is distributed in the hope that it will be useful,                *
    * but WITHOUT ANY WARRANTY; without even the implied warranty of                *
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
    * GNU General Public License for more details.                                  *
    *                                                                               *
    * You should have received a copy of the GNU General Public License             *
    * along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
    *                                                                               *
    *********************************************************************************
    -->
{% endcomment %}
{% block content %}
    <form method="post" enctype="multipart/form-data" id="sniffing-settings-form">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <!-- Show Jobs / New Job -->
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#show-jobs" data-toggle="tab">
                                            <i class="material-icons">playlist_play</i> Show Jobs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#new-job" data-toggle="tab">
                                            <i class="material-icons">fiber_new</i> New Job
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card-body-primary card-body">
                        <div class="tab-content">

                            <!-- Show Jobs -->
                            <div class="tab-pane active" id="show-jobs">
                                <table class="table table-hover table-select">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Time</th>
                                        <th>File/Interfaces</th>
                                        <th>Filters</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for job in jobs %}
                                        <tr class="link" href="/sniffing/capture?id={{ job.id }}">
                                            <td>{{ job.id }}</td>
                                            <td>{{ job.created_at }}</td>
                                            <td>
                                                {% if job.interfaces != None %}
                                                    {{ job.interfaces }}
                                                {% else %}
                                                    {{ job.pcap }}
                                                {% endif %}
                                            </td>
                                            <td>{{ job.filters }}</td>
                                            <td>{{ job.status_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- New Job -->
                            <div class="tab-pane" id="new-job">
                                <div class="row">
                                    <!-- Interfaces -->
                                    <div class="col-lg-4 col-md-5">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Interfaces *</h4>
                                                <p class="card-category"> Select the interfaces to sniff</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active checkbox-required" id="interfaces" label="interface">

                                                        {% for interface in interfaces %}

                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" value="{{ interface }}"  name="interfaces" >
                                                                    {{ interface }}
                                                                    <span class="form-check-sign"><span class="check"></span></span>
                                                                </label>
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Filters -->
                                    <div class="col-lg-8 col-md-7">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Filters</h4>
                                                <div class="card-category"> Available filters:
                                                    <a target="_blank" title="Available filters" href="https://wiki.wireshark.org/DisplayFilters">
                                                        <strong>Wireshark display filters <i class="material-icons">open_in_new</i></strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="filters">
                                                        <div class="form-group">
                                                            <label for="filters-input" class="bmd-label-floating">Write filters here...</label>
                                                            <input value="{{filters}}" type="text" class="form-control" id="filters-input" name="filters">
                                                            <span class="bmd-help">(eg. tcp.port eq 25 or icmp)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit -->
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success">
                                            Capture !
                                            <i class="material-icons">play_arrow</i>
                                        </button>
                                        <label for="pcap">
                                            <button class="btn btn-info upload" type="button">
                                                Open pcap file <i class="material-icons">open_in_browser</i>
                                            </button>
                                        </label>
                                        <input type="file" class="btn btn-info upload submit force" name="pcap" id="pcap"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


    </form>
{% endblock %}
