{% extends 'layout/job.html' %}
{% comment %}
    <!--
    *********************************************************************************
    *                                                                               *
    * parse.html -- HTML file.                                                      *
    *                                                                               *
    ************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
    *                                                                               *
    * =========================================================                     *
    * Material Dashboard Dark Edition - v2.1.0                                      *
    * =========================================================                     *
    *                                                                               *
    * Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
    * Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
    *                                                                               *
    * Coded by www.creative-tim.com                                                 *
    *                                                                               *
    * =========================================================                     *
    *                                                                               *
    * The above copyright notice and this permission notice shall be included in    *
    * all copies or substantial portions of the Software.                           *
    *                                                                               *
    ********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
    *                                                                               *
    * This file is part of black-widow.                                             *
    *                                                                               *
    * black-widow is free software: you can redistribute it and/or modify           *
    * it under the terms of the GNU General Public License as published by          *
    * the Free Software Foundation, either version 3 of the License, or             *
    * (at your option) any later version.                                           *
    *                                                                               *
    * black-widow is distributed in the hope that it will be useful,                *
    * but WITHOUT ANY WARRANTY; without even the implied warranty of                *
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
    * GNU General Public License for more details.                                  *
    *                                                                               *
    * You should have received a copy of the GNU General Public License             *
    * along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
    *                                                                               *
    *********************************************************************************
    -->
{% endcomment %}
{% load static %}

{% block style %}
    <link href="{% static 'css/plugins/simplePagination.css' %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="parent" href="/web/parsing">Web Parsing</a></li>
        <li class="breadcrumb-item active" aria-current="page">Parse</li>
    </ol>
{% endblock %}

{% block absolute %}
    <!-- Parsed page modal -->
    <!-- TODO: make modal -->
{% endblock %}

{% block card_header %}
    <!-- TODO features:
            - Sorting/Search filters
            - Download ".pcap" file
            - Keys to decrypt traffic
    -->
    <h4 class="card-title mt-0">Web Parsing</h4>
    <div class="card-category card-info">
        <div class="card-category-label">URL:</div>
        <span class="card-category-content"><a href="{{ job.url }}" target="_blank">{{ job.url }}</a></span>
    </div>
    <div class="card-category card-info">
        <div class="card-category-label">Tags:</div>
        <span class="card-category-content">{{ job.parsing_tags }}</span>
    </div>
{% endblock %}


{% block table %}
    <table class="table table-hover table-select">
        <thead>
        <tr>
            <th>URL</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="application/javascript">
        const $pktModal = $('#pkt-modal');
        const $dataTable = $('#data-table').find('table').first();

        const showJobData = function(result) {
            for (let key in result) {
                // noinspection JSUnfilteredForInLoop
                let page = result[key];
                let count = Object.entries(page).length - 1;
                $dataTable.insertTableRow([
                    {name: page.url},                     // URL
                    {name: count},                        // Results
                ], function() {
                    showPage(page);
                });
            }
        };

        /**
         * Show the parsed page in a modal
         * @param page The page Object
         */
        const showPage = function (page) {
            console.log('TODO: implement showPage()')
        }
    </script>
{% endblock %}
