{% extends 'layout/base.html' %}
{% comment %}
<!--
*********************************************************************************
*                                                                               *
* settings.html -- HTML file.                                                   *
*                                                                               *
************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
*                                                                               *
* =========================================================                     *
* Material Dashboard Dark Edition - v2.1.0                                      *
* =========================================================                     *
*                                                                               *
* Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
    * Copyright 2019 Creative Tim (http://www.creative-tim.com)                 *
*                                                                               *
* Coded by www.creative-tim.com                                                 *
*                                                                               *
* =========================================================                     *
*                                                                               *
* The above copyright notice and this permission notice shall be included in    *
* all copies or substantial portions of the Software.                           *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
*********************************************************************************
-->
{% endcomment %}
{% block content %}
    <form method="post" id="web-parsing-settings-form">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <!-- Show Jobs / New Job -->
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#show-parsings" data-toggle="tab">
                                            <i class="material-icons">playlist_play</i> Show Parsings
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#new-parsing" data-toggle="tab">
                                            <i class="material-icons">fiber_new</i> New Parsing
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card-body-primary card-body">
                        <div class="tab-content">

                            <!-- Show Parsings -->
                            <div class="tab-pane active table-responsive" id="show-parsings">
                                <table class="table table-hover table-select">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Url</th>
                                        <th>Type</th>
                                        <th>Tags</th>
                                        <th>Depth</th>
                                        <th>Results</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for job in jobs %}
                                        <tr class="link" href="/web/parsing/parse?id={{ job.id }}">
                                            <td>{{ job.id }}</td>
                                            <td>{{ job.url }}</td>
                                            <td>{{ job.parsing_type }}</td>
                                            <td>{{ job.parsing_tags }}</td>
                                            <td>{{ job.depth }}</td>
                                            <td>{{ job.total }}</td>
                                            <td>{{ job.status_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- New Parsing -->
                            <div class="tab-pane" id="new-parsing">
                                <div class="row">
                                    <!-- URL -->
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">URL *</h4>
                                                <p class="card-category">URL to parse / crawl</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="url">
                                                        <div class="form-group">
                                                            <label for="url-input" class="bmd-label-floating">Write URL here...</label>
                                                            <input required="required" value="{{ url }}" type="text" class="form-control" id="url-input" name="url">
                                                            <span class="bmd-help">(eg. https://black-widow.io)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Type -->
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Type *</h4>
                                                <div class="card-category">Single Page / Website Crawling</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content row" style="margin: 0;">
                                                    <div class="tab-pane active checkbox-required col-md-6 col-12" label="type" id="types">

                                                        {% for type in types %}
                                                            <div class="form-check form-check-radio">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="type" id="{{ type.0 }}" value="{{ type.0 }}">
                                                                    {{ type.1 }}
                                                                    <span class="circle"><span class="check"></span></span>
                                                                </label>
                                                            </div>

                                                        {% endfor %}
                                                    </div>

                                                    <div class="tab-pane active col-md-6 col-12" id="depth">
                                                        <div show-on="website_crawling" class="form-group" style="display: none; margin-top: 15px; width: 80px;">
                                                            <label for="depth-input" class="bmd-label-floating">Depth</label>
                                                            <input value="-1" type="number" class="form-control" id="depth-input" name="depth">
                                                            <span class="bmd-help" style="display: block;">< 0 = no limit</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cookies -->
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Cookies</h4>
                                                <p class="card-category">Paste the cookies to use (if necessary)</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <div class="form-group">
                                                            <label for="cookies-input" class="bmd-label-floating">Paste cookies here...</label>
                                                            <textarea class="form-control" id="cookies-input" name="cookies"></textarea>
                                                            <span class="bmd-help">(eg. PHPSESSID=cthocsqs8233jk4043b0lc89l3; security_level=0)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tags -->
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card card-hover">
                                            <div class="card-header card-header-danger card-header-sec">
                                                <h4 class="card-title ">Tags *</h4>
                                                <div class="card-category">What do you want to parse ?</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active checkbox-required" label="tag">

                                                        {% for tag in tags %}
                                                            <div class="form-check form-check-radio">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="tags" id="{{ tag.0 }}" value="{{ tag.0 }}">
                                                                    {{ tag.1 }}
                                                                    <span class="circle"><span class="check"></span></span>
                                                                </label>
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit -->
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success">
                                            Parse !
                                            <i class="material-icons">play_arrow</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </form>
{% endblock %}

{% block script %}
    <script type="application/javascript">
    $(function() {
        const typeCheckedId = $('input[name="type"]:checked').attr('id');
        if (typeCheckedId) {
            // show current checked type subsection
            $('[show-on="'+ typeCheckedId +'"]').show();
        }
        const $showOn = $('[show-on]');
        const $type = $('input[name="type"]');
        $type.click(function () {
            const id = $(this).attr('id');
            $showOn.hide();
            $('[show-on="'+ id +'"]').show();
        });
    });
    </script>
{% endblock %}
