<!DOCTYPE html>
<!--
************ IMPORTANT MATERIAL DASHBOARD DARK EDITION LICENSE TERMS ************
*                                                                               *
* =========================================================                     *
* Material Dashboard Dark Edition - v2.1.0                                      *
* =========================================================                     *
*                                                                               *
* Product Page: https://www.creative-tim.com/product/material-dashboard-dark    *
* Copyright 2019 Creative Tim (http://www.creative-tim.com)                     *
*                                                                               *
* Coded by www.creative-tim.com                                                 *
*                                                                               *
* =========================================================                     *
*                                                                               *
* The above copyright notice and this permission notice shall be included in    *
* all copies or substantial portions of the Software.                           *
*                                                                               *
********************** IMPORTANT BLACK-WIDOW LICENSE TERMS **********************
*                                                                               *
* This file is part of black-widow.                                             *
*                                                                               *
* black-widow is free software: you can redistribute it and/or modify           *
* it under the terms of the GNU General Public License as published by          *
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* black-widow is distributed in the hope that it will be useful,                *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with black-widow.  If not, see <http://www.gnu.org/licenses/>.          *
*                                                                               *
*********************************************************************************
-->
{% load static %}
<!--suppress HtmlUnknownTarget, JSUnresolvedVariable, JSUnresolvedFunction -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="32x32" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{{request.resolver_match.url_name|title}}</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- Fonts and icons -->
    <link href="{% static 'css/google-fonts.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/material-dashboard.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/black-widow.css' %}" rel="stylesheet" />
    <!-- Other CSS Files -->
    {% block style %}
    {% endblock %}
</head>

<body class="dark-edition black-edition">

<!-- Spinner -->
<div id="spinner" class="spinner-container" style="display: none;">
    <div class="atom-spinner spinner">
        <div class="spinner-inner">
            <div class="spinner-line"></div>
            <div class="spinner-line"></div>
            <div class="spinner-line"></div>
            <!--Chrome renders little circles malformed :(-->
            <div class="spinner-circle">
                &#9679;
            </div>
        </div>
    </div>
    <div class="spinner-text text-danger">Loading...</div>
</div>

<div class="wrapper ">
    <div class="sidebar" data-color="danger" data-background-color="black" data-image="{% static 'img/sidebar-2.jpg' %}">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a target="_blank" href="https://www.black-widow.io" class="simple-text logo-normal">
                Black Widow
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'black widow' %}active{% endif %}">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'sniffing' %}active{% endif %}">
                    <a class="nav-link" href="/sniffing">
                        <i class="material-icons">network_check</i>
                        <p>Sniffing</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'sql injection' %}active{% endif %}">
                    <a class="nav-link" href="/sql">
                        <i class="material-icons">storage</i>
                        <p>SQL injection</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'user' %}active{% endif %}">
                    <a class="nav-link" href="/user">
                        <i class="material-icons">person</i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'tables' %}active{% endif %}">
                    <a class="nav-link" href="/tables">
                        <i class="material-icons">content_paste</i>
                        <p>Table List</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'typography' %}active{% endif %}">
                    <a class="nav-link" href="/typography">
                        <i class="material-icons">library_books</i>
                        <p>Typography</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'icons' %}active{% endif %}">
                    <a class="nav-link" href="/icons">
                        <i class="material-icons">bubble_chart</i>
                        <p>Icons</p>
                    </a>
                </li>
                <!--li class="nav-item {% if request.resolver_match.url_name == 'map' %}active{% endif %}">
              <a class="nav-link" href="/map">
                <i class="material-icons">location_ons</i>
                <p>Maps</p>
              </a>
            </li-->
                <li class="nav-item {% if request.resolver_match.url_name == 'notifications' %}active{% endif %}">
                    <a class="nav-link" href="/notifications">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <!--
            <li class="nav-item active-pro {% if request.resolver_match.url_name == 'upgrade' %}active{% endif %}">
              <a class="nav-link" href="/upgrade">
                <i class="material-icons">unarchive</i>
                <p>Upgrade to PRO</p>
              </a>
            </li>
            -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div id="page-title" class="navbar-brand">
                        <nav aria-label="breadcrumb">
                            {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">{{request.resolver_match.url_name}}</li>
                            </ol>
                            {% endblock %}
                        </nav>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    {#                    <form class="navbar-form">#}
                    {#                        <div class="input-group no-border">#}
                    {#                            <input type="text" value="" class="form-control" placeholder="Search...">#}
                    {#                            <button type="submit" class="btn btn-default btn-round btn-just-icon">#}
                    {#                                <i class="material-icons">search</i>#}
                    {#                                <span class="ripple-container"></span>#}
                    {#                            </button>#}
                    {#                        </div>#}
                    {#                    </form>#}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="material-icons">dashboard</i>
                                <p class="d-lg-none d-md-block">
                                    Stats
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="d-lg-none d-md-block">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                                <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                                <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                                <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                                <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a target="_blank" href="https://github.com/offensive-hub/black-widow">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://hub.docker.com/r/offensive/black-widow">
                                Docker Hub
                            </a>
                        </li>
                        <!--
                        <li>
                          <a href="https://creative-tim.com/presentation">
                            About Us
                          </a>
                        </li>
                        <li>
                          <a href="http://blog.creative-tim.com">
                            Blog
                          </a>
                        </li>
                        -->
                        <li>
                            <a target="_blank" href="https://raw.githubusercontent.com/offensive-hub/black-widow/master/LICENSE">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right" id="date">
                    , made with <i class="material-icons">favorite</i> by
                    <a href="https://fabrizio.fubelli.org" target="_blank">Fabrizio Fubelli</a> for White Hats.
                </div>
            </div>
        </footer>
        <script>
            const x = new Date().getFullYear();
            let date = document.getElementById('date');
            date.innerHTML = '&copy; ' + x + date.innerHTML;
        </script>
    </div>
</div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            {#            <li class="header-title"> Sidebar Filters</li>#}
            {#            <li class="adjustments-line">#}
            {#                <a href="javascript:void(0)" class="switch-trigger active-color">#}
            {#                    <div class="badge-colors ml-auto mr-auto">#}
            {#                        <span class="badge filter badge-purple" data-color="purple"></span>#}
            {#                        <span class="badge filter badge-azure" data-color="azure"></span>#}
            {#                        <span class="badge filter badge-green" data-color="green"></span>#}
            {#                        <span class="badge filter badge-warning" data-color="orange"></span>#}
            {#                        <span class="badge filter badge-danger active" data-color="danger"></span>#}
            {#                    </div>#}
            {#                </a>#}
            {#            </li>#}
            <li class="header-title">Images</li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="{% static 'img/sidebar-1.jpg' %}" alt="">
                </a>
            </li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="{% static 'img/sidebar-2.jpg' %}"  alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="{% static 'img/sidebar-3.jpg' %}"  alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="{% static 'img/sidebar-4.jpg' %}"  alt="">
                </a>
            </li>
            <li class="button-container">
                <a href="https://github.com/offensive-hub/black-widow" target="_blank" class="btn btn-primary btn-block">
                    GitHub
                </a>
            </li>
            <li class="button-container">
                <a href="https://hub.docker.com/r/offensive/black-widow" target="_blank" class="btn btn-warning btn-block">
                    Docker Hub
                </a>
            </li>
            <!--
            <li class="button-container">
              <a href="" target="_blank" class="btn btn-default btn-block">
                View Documentation
              </a>
            </li>
            -->
            <!--
            <li class="button-container github-star">
              <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard/tree/dark-edition" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
            </li>
            -->
            <!--
            <li class="header-title">Thank you for 95 shares!</li>
            -->
            <li class="button-container text-center" style="display: flex;">
                <div style="margin-left: auto; margin-right: 5px;">
                    <a id="instagram" class="btn btn-round btn-instagram"
                       target="_blank" href="https://www.instagram.com/8l4ck_w1d0w">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div style="margin-right: auto; margin-left: 5px;">
                    <a id="facebook" class="btn btn-round btn-facebook"
                       target="_blank" href="https://fb.me/offensive.black.widow">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </div>
                <br>
                <br>
            </li>
        </ul>
    </div>
</div>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.min.js' %}" ></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!--script src="https://unpkg.com/default-passive-events"></script-->
<!-- Place this tag in your head or just before your close body tag. -->
{#<script async defer src="https://buttons.github.io/buttons.js"></script>#}
<!--  Google Maps Plugin    -- >
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
-->
<!-- Chartist JS -->
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/material-dashboard.min.js' %}"></script>
<!-- Black Widow -->
<script src="{% static 'js/black-widow.js' %}" type="application/javascript"></script>
<!-- Embed Javascript -->
<script type="application/javascript">
    $(document).ready(function() {
        $().ready(function() {
            const $sidebar = $('.sidebar');
            const $sidebar_img_container = $sidebar.find('.sidebar-background');
            const $full_page = $('.full-page');
            const $sidebar_responsive = $('body > .navbar-collapse');

            $('.fixed-plugin a').click(function(event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                let new_color = $(this).data('color');

                if ($sidebar.length !== 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length !== 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length !== 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });

            $('.fixed-plugin .background-color .badge').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                const new_color = $(this).data('background-color');

                if ($sidebar.length !== 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function() {
                const $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');

                let new_image = $(this).find("img").attr('src');
                let new_image_full_page;

                const $switch_side_img_checked = $('.switch-sidebar-image input:checked');

                if ($sidebar_img_container.length !== 0 && $switch_side_img_checked.length !== 0) {
                    $sidebar_img_container.fadeOut('fast', function() {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length !== 0 && $switch_side_img_checked.length !== 0) {
                    new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function() {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($switch_side_img_checked.length === 0) {
                    const $image_holder = $('.fixed-plugin li.active .img-holder');
                    new_image = $image_holder.find("img").attr('src');
                    new_image_full_page = $image_holder.find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length !== 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').change(function() {
                const $full_page_background = $('.full-page-background');
                const $input = $(this);
                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length !== 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }
                    if ($full_page_background.length !== 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }
                } else {
                    if ($sidebar_img_container.length !== 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }
                    if ($full_page_background.length !== 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }
                }
            });

            $('.switch-sidebar-mini input').change(function() {
                if (md.misc.sidebar_mini_active === true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function() {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                let simulateWindowResize = setInterval(function() {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function() {
                    clearInterval(simulateWindowResize);
                }, 1000);

            });
        });
        md.initDashboardPageCharts();
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>
